@{
    ViewData["Title"] = "Home Page";
}
<div>
    @*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
    <div class="block1">
        <form id="form1" method="post" action="api/DonateAPI" >
            <label>Пожертование</label> <br />
            <input type="text" name="Donate.amountOfDonation" value="" />
            <br />
            <input type="text" name="Donate.Comment" value="" />
            <br />
            <input type="submit" name="Donate" value="Пожертовать" />

        </form>
    </div>
    <div class="block2">
        <form action="/" method="post"></form>
    </div>
 </div>